.header {
	padding: 15px 0;
	position: fixed;
	width: 100%;
	display: block;
	background-color: #fff;
	z-index: 10;
}

.header-menus {
	margin: 0 0 2em 0;
}

.header-banhauer__social {
	.sprite {
		display: flex;
	}
	a {
		margin: 0 5px;
	}
}

// .header-top {
// 	display: flex;
// 	align-items: center;
// }

.header-workshops {
	color: #fff;
}

.header-benhauer {
	display: flex;
	justify-content: flex-end;
}

nav {
	font-size: 18px;
	font-weight: 300;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	li {
		display: inline-block;
	}
	a {
		color: $header_text_color;
	}
}

.site-nav {
	li {
		margin-left: 1.5em;
		padding: 12px 0;
	}
	a {
		font-weight: 600;
		font-size: 16px;
		text-transform: uppercase;
		color: rgba(0,0,0,.6);
		padding: 8px;
		&:hover {
			border-bottom: 2px solid #85a92d;
		}
	}
}

.cities-nav {
	margin-top: 1em;
	ul {
		display: flex;
	}
	li {
		width: 33.3333%;
		text-align: center;
		padding: .75em;
		border-left: 1px solid #dadada;
		border-top: 1px solid #dadada;
		&:hover {
			background-color: #85a92d;
			a {
				color: #fff;
			}
		}
	}
	a {
		color: #32401c;
		display: block;
		font-weight: 400;
	}
	img {
		max-width: 40px;
		margin-left: 15px;
	}
}

.ma {
  background-color: #f5f5f5;
}

h2.agenda {
  text-align: center;
  color: #32401c;
  margin: 0 0 .5em 0;
  font-weight: 600;
}

.banner {
	background: url(../../assets/images/fhd_warsztaty.jpg) no-repeat center;
	background-size: cover;
	min-height: 480px;
	display: flex;
	align-items: center;
}

.banner-heading {
	font-weight: 600;
	font-size: 5em;
	letter-spacing: -2px;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.client-partner-nav {
	ul {
		display: flex;
		justify-content: space-between;
	}
	li {
		font-size: 1.5em;
		font-weight: 600;
		text-align: center;
		// border: 2px solid #32401c;
		border: 1px solid #cfcfcf;
		border-top: none;
		width: 50%;
		&:first-child {
			border-right: 0;
			border-left: 0;
		}
		&:last-child {
			border-right: 0;
		}
		// &:first-child {
		// 	border-right: 0;
		// 	border-left: 0;
		// }
		// &:nth-child(2) {
		// 	border-right: 0;
		// }
		&:hover {
			a,
			a:active {
				background-color: #32401c;
				color: #fff;
			}
		}
	}
	a {
		display: block;
		padding: 15px;
		cursor: pointer;
		color: #32401c;
		&.active {
			background-color: #32401c;
			color: #fff;
		}
	}
}

.sales-logo {
	max-width: 400px;
	margin-top: 4em;
}

.description {
	padding: 3em 0;
	color: #32401c;
	h3 {
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 30px;
	}
	p {
		font-size: 1.25em;
		margin-bottom: 15px;
	}
	ul {
		font-size: 1.25em;
		margin-bottom: 1em;
	}
}

.training-description {
	background-color: #f5f5f5;
	padding: 4em;
}