@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

html {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 20px;
  position: relative;
}

a {
  text-decoration: none !important;
  color: #485b2a;
  &:focus {
    outline: none;
  }
  &.selected {
    color: #222222;
  }
  &:hover {
    text-decoration: none;
    color: #485b2a;
  }
}

.header {
  padding: 10px 0px;
}

.logo {
  color: white;
  margin: 0 auto;
  max-width: 320px;
}

.logo-green, .logo-black {
  font-size: 20px;
  padding: 5px 30px;
  display: inline-block;
}

.logo-green {
  font-weight: 600;
  background: #85a92d;
  padding-left: 30px;
}

.logo-black {
  background: #32401c;
  font-weight: 700;
  padding-left: 15px;
  margin-left: 15px;
  float: left;
}

.logo-desc {
  color: #32401c;
  font-weight: 300;
  float: left;
  line-height: 36px;
  font-size: 15px;
  padding-left: 10px;
}

.social {
  float: right;
}

.social_icons {
 margin-top: 8px;
  a {
    float: left;
  }

}
.social_icons_down{
    a {
    float: left;
  }
  a + a {
    margin-left: 10px;
  }
}


.social_icons a + a {
  margin-left: 10px;
}

.follow-us {
  float: left;
  line-height: 58px;
  margin-right: 15px;
}

.sm-logo {
  float: right;
  margin-left: 15px;
  img {
    height: 39px;
  }
}

// .menu {
//   float: right;
//   ul {
//     list-style-type: none;
//     margin-top: 15px;
//     li {
//       float: left;
//       + li {
//         margin-left: 20px;
//       }
//       a {
//         text-transform: uppercase;
//         color: #5e5e5e;
//         font-weight: 300;
//         font-size: 19px;
//       }
//     }
//   }
// }

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
}

.content-name {
  text-align: center;
  .top-name {
    padding: 7% 0 0;
    text-align: center;
    margin: 0 auto;
    color: $header_text_color;
    font-weight: 300;
    font-size: 46px;
  }
}

@media (max-width: 620px) {
  .content-name .top-name {
    font-size: 38px;
  }
}


.speakers-head, .agenda-head, .org-head, .loc-head, .ma-head, .wy-head {
  text-align: center;
  color: #32411c;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 35px;
  margin: 50px 0px;
  line-height: 35px;
}

.co-head {
  text-align: center;
  color: #32411c;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 35px;
  margin: 50px 0px;
  line-height: 35px;
  color: white;
  margin-top: 25px;
}

.ma-head {
  margin: 20px 0px;
}

.wy-head {
  margin: 40px 0px 40px 0px;
}

.opinia-item {
  text-align: left;
  color: white;
  font-size: 17px;
  line-height: 22px;
  font-weight: 300;
  .fa-quote-left {
    color: #85a92d;
    font-size: 40px;
    position: absolute;
    left: -50px;
    top: -10px;
  }
  .quote {
    position: relative;
    margin-left: 40px;
    margin-top: 10px;
    height: 170px;
  }
  .author {
    margin-left: 40px;
  }
}
.fa-check {
  color: #85a92d;
}

@media (max-width: 991px) {
  .opinia-item {
    .quote {
      margin-left: 170px;
      height: 185px;
    }
    .author {
      margin-left: 170px;
    }
  }
}

#why {
  p {
    font-size: 15px;
    line-height: 20px;
  }
  strong {
    color: #485b2a;
  }
  ul {
    list-style-type: none;
    padding-left: 5px;
    margin-bottom: 30px;
    li {
      margin-bottom: 13px;
      font-size: 14px;
      font-weight: 300;
    }
  }
  .why-title h2 {
    font-size: 19px;
    font-weight: 300;
    color: #485b2a;
    border-bottom: 1px solid #85a92d;
    padding-bottom: 15px;
    display: inline-block;
    margin-bottom: 20px;
  }
}

#program, .lgbg {
  background: #f5f5f5;
}

#comowia {
  background: #4A5A2B;
}

#program {
  padding-bottom: 0;
}

.ma-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: #f5f5f5 transparent transparent transparent;
  margin: 0 auto;
}

.comowia-up-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: #ffffff transparent transparent transparent;
  margin: 0 auto;
}

.comowia-down-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: #4A5A2B transparent transparent transparent;
  margin: 0 auto;
}

.post-tab-button {
  padding: 12px 25px;
  width: 50%;
  float: left;
  text-align: center;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border: 1px solid #cfcfcf;
}

.post-tab-content-drugi {
  display: none;
}

.post-tab-buttons > .active {
  background: #485b2a;
  border: 1px solid #485b2a;
  color: white;
}

.schedule-container {
  color: #303030;
}

.schedule-row {
  padding: 20px 0px;
  + .schedule-row {
    border-top: 1px dashed #cfcfcf;
  }
}

.schedule-time {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  text-align: center;
  padding-top: 9px;
}


.e-learning {
  a,
  a:active {
    color: #78a614;
  }
}

.platform {
  margin-bottom: 2em;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .schedule-time {
    font-size: 17px;
  }
}


.schedule-title {
  font-size: 22px;
  padding-top: 7px;
  font-weight: 400;
  line-height: 28px;
}

.schedule-desc {
  ul {
    margin-top: 15px;
    list-style-type: none;
    padding-left: 3px;
  }
  font-size: 13px;
  font-weight: 300;
  .fa-play-circle {
    color: #85a92d;
  }
}

#why .fa-play-circle {
  color: #85a92d;
}


.organisers {
  padding-bottom: 50px;
}

.ma {
  padding-bottom: 50px;
  p {
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
  }
}

.foot-social {
  background: #e6e7e8;
  padding: 0px 0px 30px 0px;
}

.footer-buttons {
  margin-top: 35px;
  margin-bottom: 0px;
}

.foot-button {
  background: #85a92d;
  padding: 5px;
  text-align: center;
  margin-bottom: 15px;
}

.speaker-name {
  color: #303030;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 35px;
}

.speaker-pic {
  margin-bottom: 15px;
}

.foot-button-text {
  color: white;
  line-height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
}

.localization {
  background-color: #E6E7E9;
  text-align: center;
  padding-bottom: 50px;
  p {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 18px;
  }
  h2 {
    color: #32411c;
    font-weight: 300;
  }
  h3 {
    margin-bottom: 20px;
  }
}


.org-item {
  border: 1px solid #eee;
  max-width: 350px;
  height: 102px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
}

.footer {
  background: #ffffff;
  padding: 40px;
  ul {
    border-top: 1px solid #87ac29;
    padding-top: 15px;
    padding-left: 0px;
  }
  li {
    color: #a3a3a3;
  }
  ul li {
    list-style-type: none;
    float: left;
    + li {
      margin-left: 15px;
    }
  }
}

.app {
  color: #a3a3a3;
}

.white-popup {
  text-align: center;
  width: 100%;
  margin: 0px auto;
  background: rgba(26, 94, 55, 0.95);
  z-index: 9999;
  iframe {
    min-height: 546px;
  }
}

@media (max-width: 767px) {
  .white-popup iframe {
    min-height: 950px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .white-popup iframe {
    min-height: 850px;
  }
}

.mfp-bg {
  opacity: 0;
  display: none;
}

.mfp-ready, .mfp-wrap {
  position: relative !important;
  top: 0 !important;
  height: 100% !important;
}

.mfp-container {
  padding: 0px;
}

.mfp-content {
  overflow-y: hidden;
}

@media (min-width: 1200px) {
  .container {
    width: 1108px;
  }
}

@media (max-width: 1120px) {
  .slider-boxes {
    width: 80%;
  }
  .slider-box-left, .slider-box-right {
    position: relative;
  }
  .slider-box-title {
    font-size: 22px;
    line-height: 25px;
  }
  .slider-box-content {
    font-size: 17px;
    line-height: 20px;
  }
  .slider-box-right .slider-box-title {
    font-size: 25px;
    line-height: 28px;
  }
  .slider-countries {
    position: relative;
    top: 0px;
    margin-bottom: 20px;
  }
  .logo {
    margin-bottom: 15px;
  }
  .smbrand {
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .menu {
    width: 100%;
    text-align: center;
    ul {
      padding-left: 0px;
      li {
        float: none;
        + li {
          margin-left: 0px;
        }
      }
    }
  }
  .white-popup {
    padding-top: 0px;
  }
}

@media (max-width: 768px) {
  .smbrand {
    text-align: center;
  }
  .social {
    display: block;
    text-align: center;
    width: 142px;
    margin: 0 auto;
    float: none;
  }
  .sm-logo {
    clear: both;
    float: none;
    display: block;
    margin-bottom: 15px;
  }
  .follow-us {
    display: none;
  }
  .foot-social .social {
    max-width: 242px;
    margin: 0 auto;
    width: auto;
  }
  .salesmanago-big {
    margin: 0 auto 2em auto;
  }
  .footer ul li {
    float: none;
    text-align: center;
  }
  .app {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .seven-cols {
    .col-md-1, .col-sm-1, .col-lg-1 {
      width: 100%;
      *width: 100%;
    }
  }
}

@media (min-width: 992px) {
  .seven-cols {
    .col-md-1, .col-sm-1, .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
  }
}

@media (min-width: 1200px) {
  .seven-cols {
    .col-md-1, .col-sm-1, .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
  }
}

@media (max-width: 991px) {
  .center-mobile {
    text-align: center;
  }
}