$colorGreenLight: #85a92d;
$colorGreen: #485b2a;


input.invalid, select.invalid {
  border-color: #e43c29 !important;
}

input.valid, select.valid {
  border-color: #485b2a !important;
}

form .alert {
  display: none;
  margin-bottom: 0;
  color: #e43c29;
}

.form__content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1.4s;
  -moz-transition: max-height 1.4s;
  transition: max-height 1.4s;
  background: #f5f5f5;
  padding-top: 80px;

}
.form__content--active {
  max-height: 1200px;

}

.form__title{
  text-align: center;
}

.form__text{
  font-size: 14px;
}

.recurly__form{
   padding: 25px 0px;

  label {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0 0 0.2rem;
    color: $colorGreenLight;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    clear: left;
  }


  .checkbox{
    label {
      color: #333;
    }
  }

  span{
    color: #e43c29;
  }

  #errors{
    color: #e43c29;
  }

  input[type="text"], input[type="email"], .select__country{
    position: relative;
    width: 100%;
    border: 2px solid #c2c2c2;
    background: transparent;
    padding: 0.5rem;
    margin: 0 0 1rem;
    outline: none;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    box-shadow: none;
    border-radius: 0;
    color: #c2c2c2;
    height: 38px;
    background: #f5f5f5;
    -webkit-appearance: none;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    transition: border-color 0.3s;

  }

  input:focus, .select__country:focus {
    border-color: $colorGreenLight;
    color: $colorGreen;
    z-index: 10;
  }

  input.error {
    border-color: #e43c29;
  }

  div.error .recurly-hosted-field {
    border: 2px solid #e43c29;
  }

  div.date {
    display: inline-block;
    width: 55px;
    float: left;
    text-align: left;
    margin-right: -2px;

    & + div.date{
     margin-left: 50px;
    }

    label {
      display: inline-block;
      clear: none;
    }
    input {
      display: inline-block;
    }
  }

  button {
    border: none;
    width: 100%;
    background: $colorGreen;
    outline: none;
    padding: 1rem;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color: #f5f5f5;
    cursor: pointer;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  button:disabled {
    opacity: 0.6;
  }

  figure {
    margin: 0;
  }

  figure.logo {
    width: 9rem;
    height: 9rem;
    background: #f5f5f5;
    border-radius: 100px;
    margin: 2rem auto;
    line-height: 9rem;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    color: $colorGreenLight;
    -webkit-transition: border-radius 0.5s, width 0.5s, height 0.5s, margin 0.5s, line-height 0.5s;
    -moz-transition: border-radius 0.5s, width 0.5s, height 0.5s, margin 0.5s, line-height 0.5s;
    -ms-transition: border-radius 0.5s, width 0.5s, height 0.5s, margin 0.5s, line-height 0.5s;
    -o-transition: border-radius 0.5s, width 0.5s, height 0.5s, margin 0.5s, line-height 0.5s;
    transition: border-radius 0.5s, width 0.5s, height 0.5s, margin 0.5s, line-height 0.5s;
  }

  figure.logo .term {
    line-height: 1em;
    font-size: 0.5em;
    margin-left: -0.25rem;
  }

  figure.success {
    width: 100%;
    background: #30af3b;
    padding: 1rem;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
    color: #f5f5f5;
    opacity: 0;
    position: relative;
    top: 4rem;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition: opacity 0.5s 0.25s, top 1s;
    -moz-transition: opacity 0.5s 0.25s, top 1s;
    -ms-transition: opacity 0.5s 0.25s, top 1s;
    -o-transition: opacity 0.5s 0.25s, top 1s;
    transition: opacity 0.5s 0.25s, top 1s;
  }

  @media screen and (max-height: 599px) {
    figure.logo {
      width: 100%;
      height: 3rem;
      margin: 2rem auto 1rem;
      border-radius: 0;
      line-height: 3rem;
    }
  }

  .recurly-hosted-field {
    position: relative;
    width: 100%;
    height: 38px;
    border: 2px solid #c2c2c2;
    background: transparent;
    padding: 0.5rem;
    margin: 0 0 1rem;
    outline: none;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: none;
    border-radius: 0;
    color: #c2c2c2;
    -webkit-appearance: none;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    transition: border-color 0.3s;
  }

  .recurly-hosted-field-focus, .recurly-hosted-field-number-focus  {
    border-color: $colorGreenLight;
    color: $colorGreenLight !important;
    z-index: 10;
  }
  .recurly-hosted-field-input{
    color: rgb(190, 159, 193) !important;
  }
 }

.payment{
  padding: 20px 0;
}

.payment__method{
  clear: both;
  height: 42px;
  margin-bottom: 15px;

  label{
    cursor: pointer;
  }

  input{
    float: left;
    margin: 10px;
  }
  span{
    float: left;
    &.card{
      margin-top: -3px;
    }
  }

  p{
    float: left;
    color: #85a92d;
    font-size: 12px;
    font-weight: 700;
    padding: 8px 12px;
    text-transform: uppercase;
  }
}
#payment-chosen{
  width: 120px;
}

.hide{
  display: none;
}