.slider {
  background: url(../images/bgtop-nw.jpg) no-repeat center;
  background-size: cover;
  min-height: 520px;
  width: 100%;
  position: relative;
}

.btn-register{
  background: #85a92d;
  text-transform: uppercase;
  color: #fff;
  padding: 13px 25px;
  font-size: 2em;
  border-radius: 0;
  &:hover, &:active, &:focus{
    color: #fff;
  }
}

.header-register-button {
  text-align: right;
}


.slider-boxes {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  bottom: 50px;
}

.slider-box-left {
  background: #303030;
  padding: 12px;
  color: white;
  position: absolute;
  bottom: 50px;
  left: 0;
}

.slider-box-right {
  background: #85a92d;
  text-transform: uppercase;
  color: white;
  position: absolute;
  bottom: 50px;
  right: 0;
  padding: 13px 20px;
}

.slider-box-title {
  a {
    color: white;
  }
  font-size: 27px;
  font-weight: 300;
}

.slider-box-right .slider-box-title {
  font-size: 32px;
  line-height: 43px;
}

.slider-box-content {
  font-size: 17px;
  margin-top: 5px;
  text-align: justify;
  color: #85a92d;
}

.fa-check {
  color: #85a92d;
}

.header-content{
  ul {
    padding: 0 20px;
    margin: 4em 0;
    list-style-type: none;
    li {
      color: $header_text_color;
      font-weight: 300;
      font-size: 26px;
      line-height: 1.5;
      margin: .5em 0;
    }
  }
}

.berlin-slider {
  background-image: url(https://www.emnify.com/wp-content/uploads/2015/11/Blog-Berlin-move.jpg);
  background-size: cover;
  background-position: 0% 100%;
  .top-name,
  .header-content li {
    color: #fff;
  }
}

.prague-slider {
  background-image: url(http://mad.salesmanago.com/images/prague2.jpg);
  background-size: cover;
  background-position: 0% 0%;
  .top-name,
  .header-content li {
    color: #fff;
  }
}