.terms {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	padding: 3em 0;
}

.terms__list {
	margin: 2em 0;
}

.terms-link {
	font-size: 1em;
	font-weight: 600;
	a,
	a:hover,
	a:link,
	a:visited {
		color: #85a92d;
	}
}